@import "../variables/brand-colors";

.video-stats {
  i.fa {
    padding-right: 5px;
  }
}

h4.video-thumbs {
  a {
    padding-right: 10px;
  }
}

.container-fluid {
  padding-left: 250px;
  padding-right: 100px;
}

.fa.fa-heart {
  color: @red-heart;
}