<!-- Left navbar -->
<div class="navbar navbar-inverse navbar-fixed-left">
    <a class="navbar-brand" href="#">Brand</a>
    <ul class="nav navbar-nav">
        <li ui-sref-active="active"><a ui-sref="videos.trending"><i class="fa fa-heart"></i>&nbsp; Trending</a></li>
        <li ui-sref-active="active"><a ui-sref="videos.top-rated"><i class="fa fa-thumbs-up"></i>&nbsp; Top Rated</a></li>
        <li ui-sref-active="active"><a ui-sref="videos.most-viewed"><i class="fa fa-eye"></i>&nbsp; Most viewed</a></li>
        <li ui-sref-active="active"><a ui-sref="videos.my-videos"><i class="fa fa-folder-open"></i>&nbsp; My videos</a></li>
    </ul>
</div>

<!-- Dynamic content depending on the current child state -->
<div ui-view></div>