<div class="container">
    <!-- Title -->
    <div class="row">
        <div class="col-md-12">
            <h4><i class="fa fa-dot-circle-o"></i>&nbsp; Step 2: Create videos module and define the abstract parent state</h4>
        </div>
    </div>
    <!-- Details -->
    <div class="row">
        <div class="col-md-11">
            <div class="paragraph">
                <p>To start with step 2, please fetch the step-2 branch.</p>
                <pre>git fetch && git checkout step-2</pre>
                <div class="alert alert-info">
                    Note: To define states in our app we will use Angular UI-Router Module. Angular UI-Router is a client-side Single Page Application routing framework for AngularJS.
                    Routing frameworks for SPAs update the browser's URL as the user nagivates through the app. Conversely, this allows changes to the browser's URL to drive navigation through the app, thus allowing the user to create a bookmark to a location deep within the SPA.
                    UI-Router applications are modeled as a hierarchical tree of states. UI-Router provides a state machine to manage the transitions between those application states in a transaction-like manner.
                    For more information about Angular UI-Router please refer to the official site <a href="https://github.com/angular-ui/ui-router" target="_blank">https://github.com/angular-ui/ui-router</a>.
                </div>
            </div>
            <div class="paragraph">
                <p>
                    1. In this step we will define an abstract parent state called 'videos' that will define a common layout for all of its child.<br>
                    An abstract state is simply a state that can have child states but can't be transitioned to. It is activated implicitly when one of its descendants are activated.
                    Please note that we have created a new module called 'videos' to group all the logic related to video states. Also, module 'ui.router' has been added as a dependency.
                </p>
                <p><strong>videos-module.coffee</strong></p>
                <pre>
                    angular.module('videos', ['ui.router']) <span class="important-note">Create the module and add ui.router as a dependency</span>

                    .config(($stateProvider) ->
                      $stateProvider
                        .state('videos', {
                            url: '/videos'  <span class="important-note">Defines the base url for all child states</span>
                            abstract: true  <span class="important-note">Set the state as abstract</span>
                            templateUrl: '/app/components/videos/videos-layout.html' <span class="important-note">Define a common layout for all child states</span>
                        })
                    )
                </pre>
                <p>Also note that we have defined a &ltdiv> with an ui-view in the videos layout. This allow child states to fulfill that space with their templates</p>
                <p><strong>videos-layout.html</strong></p>
                <pre>
                    ...
                    #Dynamic content depending on the current child state
                    &ltdiv ui-view>&lt/div>
                    ...
                </pre>
            </div>
            <div class="paragraph">
                <p>2. In addition to create the videos module, we need to add it as a dependency of the app-module for it to work.</p>
                <p><strong>app-module.coffee</strong></p>
                <pre>
                    angular.module('videoApp', [<span class="important-note">'videos'</span>, 'shared'])
                </pre>
            </div>
            <div class="paragraph">
                <p>3. Finally we need some way to tell the UI-Router where to place our templates depending on the current state.
                   This is achieved using the ui-view directive as below.</p>
                <p><strong>index.html</strong></p>
                <pre>
                    &ltbody>
                    ...

                    #Here will be the dynamic content depending on the current state
                    &ltdiv <span class="important-note">ui-view</span>>&lt/div>

                    ...
                    &lt/body>
                </pre>
            </div>
        </div>
    </div>
</div>