<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2><i class="fa fa-envelope-o"></i>&nbsp;Contact information</h2>
            <h5>If you have any doubt or contribution please don't hesitate to communicate</h5>
        </div>
    </div>
    <hr>
    <loader loading="spinner.isLoading('contact')">
        <div class="row">
            <div class="col-sm-12 col-md-4 col-md-offset-2">
                <div class="avatar-frame">
                    <img src="/assets/img/author.jpg">
                </div>
                <div><strong>Fernando Buccella</strong></div>
                <div><small>Front-end with AngularJS</small></div>
                <div class="contact-info">
                    <div><i class="fa fa-envelope-o"></i>&nbsp;<a href="mailto:fer.buccella@gmail.com" target="_blank">fer.buccella@gmail.com</a></div>
                    <div><i class="fa fa-linkedin-square"></i>&nbsp;<a href="https://www.linkedin.com/in/fernando-buccella-786498bb?trk=nav_responsive_tab_profile" target="_blank">Fernando Buccella</a></div>
                    <div><i class="fa fa-github-square"></i>&nbsp;<a href="https://github.com/buccfer" target="_blank">buccfer</a></div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-md-offset-2">
                <div class="avatar-frame">
                    <img src="/assets/img/collaborator.jpg">
                </div>
                <div><strong>Martin Ariel Castro</strong></div>
                <div><small>RESTful API with Loopback.</small></div>
                <div class="contact-info">
                    <div><i class="fa fa-envelope-o"></i>&nbsp;<a href="mailto:macastro90@gmail.com" target="_blank">macastro90@gmail.com</a></div>
                    <div><i class="fa fa-linkedin-square"></i>&nbsp;<a href="https://ar.linkedin.com/in/martin-ariel-castro-34b287114" target="_blank">Martin Ariel Castro</a></div>
                    <div><i class="fa fa-github-square"></i>&nbsp;<a href="https://github.com/macastro90" target="_blank">macastro90</a></div>
                </div>
            </div>
        </div>
    </loader>
</div>